<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>{{heading}}</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img [src]="newsService.currentNews.urlToImage"></ion-img>
        <ion-card-content>
          <ion-card-title>{{newsService.currentNews.title}}}</ion-card-title>
          <p>{{newsService.currentNews.content}}</p>
        </ion-card-content>
      </ion-card>
</ion-content>
